
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<table class="table table-striped">
    <tr>
        <td>測試</td>
        <td>123</td>
        <td>測試</td>
        <td>123</td>
    </tr>

    <tr>
        <td>測試</td>
        <td>222</td>
        <td>測試</td>
        <td>222</td>
    </tr>
</table>

