
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.test
    </div>
</body>
</html>

<script type="text/javascript">
    var msg = '@ViewBag.test';
    alert(msg)
</script>